.Feattittle{
    color: #fff;
    font-size: 22px;
}

.SubTextoTitulo{
    color: #fff;
}

.TextoLargo{
    font-size: 12px;
    font-weight: 600;
}

.LogoDinero{
    height: 75px;
    width: 50px;
}

.Banco{
    height: 75px;
    width: 50px;
}

.Trabajo{
    height: 75px;
    width: 50px;
}